Repository Alexsandruss/scikit-learn_bench, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Alexsandruss, @ethanglaser, @razdoburdin, @samir-nasibli

.github/CODEOWNERS:

# owners and reviewers
configs                    @Alexsandruss
configs/spmd/*             @ethanglaser
configs/regular/xgboost*   @razdoburdin
sklbench                   @Alexsandruss
*.md                       @Alexsandruss @samir-nasibli
requirements*.txt          @Alexsandruss @ethanglaser
conda-env-*.yml            @Alexsandruss @ethanglaser

Add cost metric, change report color rules
  sklbench/report/arguments.py
  sklbench/report/implementation.py
  sklbench/utils/measurement.py
Owners: @Alexsandruss

Report generator fixes
  sklbench/report/compatibility.py
  sklbench/report/implementation.py
  sklbench/runner/implementation.py
Owners: @Alexsandruss

Initial weekly scope
  configs/weekly/dbscan.json
  configs/weekly/ensemble.json
  configs/weekly/kmeans.json
  configs/weekly/knn.json
  configs/weekly/linear_model.json
  configs/weekly/logreg.json
  configs/weekly/pca.json
  configs/weekly/svm.json
  configs/weekly/train_test_split.json
  configs/weekly/tsne.json
Owners: @Alexsandruss

Fixes
  configs/common/lightgbm.json
  configs/common/xgboost.json
  configs/regular/lightgbm.json
  configs/regular/xgboost_binary.json
  configs/regular/xgboost_multi.json
  configs/regular/xgboost_regression.json
  sklbench/benchmarks/common.py
  sklbench/benchmarks/sklearn_estimator.py
  sklbench/datasets/downloaders.py
  sklbench/datasets/loaders.py
  sklbench/emulators/svs/neighbors.py
  sklbench/report/compatibility.py
  sklbench/report/implementation.py
  sklbench/utils/config.py
  sklbench/utils/logger.py
  sklbench/utils/measurement.py
  sklbench/utils/special_params.py
Owners: @Alexsandruss, @razdoburdin

Configs adjustment
  configs/common/dbscan.json
  configs/common/kmeans.json
  configs/regular/kmeans.json
  configs/regular/logreg.json
  configs/regular/train_test_split.json
  configs/weekly/ensemble.json
  configs/weekly/kmeans.json
  configs/weekly/logreg.json
  configs/weekly/pca.json
  configs/weekly/svm.json
  configs/weekly/train_test_split.json
  sklbench/datasets/README.md
  sklbench/datasets/transformer.py
Owners: @Alexsandruss, @samir-nasibli

Fixes
  configs/README.md
  configs/common/svm.json
  configs/weekly/svm.json
  sklbench/utils/measurement.py
Owners: @Alexsandruss, @samir-nasibli
