Repository Alexsandruss/scikit-learn_bench, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Alexsandruss, @samir-nasibli, @napetrov

.github/CODEOWNERS:

# owners and reviewers
configs             @Alexsandruss @samir-nasibli @napetrov
sklbench            @Alexsandruss @samir-nasibli
*.md                @Alexsandruss @napetrov
requirements*.txt   @Alexsandruss @napetrov
conda-env-*.yml     @Alexsandruss @napetrov

initial spmd support and configs
  configs/spmd/basicstats.json
  configs/spmd/covariance.json
  configs/spmd/dbscan.json
  configs/spmd/forest.json
  configs/spmd/kmeans.json
  configs/spmd/knn.json
  configs/spmd/linreg.json
  configs/spmd/pca.json
  sklbench/benchmarks/common.py
  sklbench/benchmarks/distr_sklearn_estimator.py
  sklbench/datasets/__init__.py
  sklbench/datasets/loaders.py
  sklbench/runner/benchmark_commands.py
  sklbench/utils/common.py
Owners: @Alexsandruss, @samir-nasibli, @napetrov

minor correction
  configs/spmd/pca.json
Owners: @Alexsandruss, @samir-nasibli, @napetrov

adding logreg and cov configs
  configs/spmd/covariance.json
  configs/spmd/logreg.json
Owners: @Alexsandruss, @samir-nasibli, @napetrov

minor
  configs/spmd_example.json
  sklbench/benchmarks/distr_sklearn_estimator.py
  sklbench/runner/benchmark_commands.py
Owners: @Alexsandruss, @samir-nasibli, @napetrov

Configs update and minor fixes
  configs/sklearn/linear_model.json
  configs/sklearn/logreg.json
  configs/sklearn/trees.json
  configs/sklearn/tsne.json
  configs/xgboost/binary_classification.json
  configs/xgboost/multiclassification.json
  configs/xgboost/regression.json
  pyproject.toml
  sklbench/benchmarks/README.md
  sklbench/benchmarks/common.py
  sklbench/benchmarks/estimator_task_map.json
  sklbench/benchmarks/sklearn_estimator.py
  sklbench/datasets/common.py
  sklbench/datasets/loaders.py
  sklbench/datasets/transformer.py
  sklbench/utils/env.py
Owners: @Alexsandruss, @samir-nasibli, @napetrov

add aurora logreg
  configs/spmd/aurora/logreg_strong_256.json
Owners: @Alexsandruss, @samir-nasibli, @napetrov

resolving y data shape warning
  sklbench/datasets/loaders.py
Owners: @Alexsandruss, @samir-nasibli

adding float to dtype list for spmd configs
  configs/spmd/basicstats.json
  configs/spmd/dbscan.json
  configs/spmd/forest.json
  configs/spmd/kmeans.json
  configs/spmd/knn.json
  configs/spmd/linreg.json
  configs/spmd/pca.json
Owners: @Alexsandruss, @samir-nasibli, @napetrov

cleanup commented/duplicated/unused code
  sklbench/benchmarks/distr_sklearn_estimator.py
  sklbench/benchmarks/sklearn_estimator.py
  sklbench/datasets/loaders.py
  sklbench/utils/special_params.py
Owners: @Alexsandruss, @samir-nasibli

add weak scaling config param and support
  docs/BENCH-CONFIG-SPEC.md
  sklbench/benchmarks/distr_sklearn_estimator.py
Owners: @Alexsandruss, @napetrov, @samir-nasibli

Additional synthetic data+some comments addressed
  configs/spmd/basicstats.json
  configs/spmd/dbscan.json
  configs/spmd/forest.json
  configs/spmd/kmeans.json
  configs/spmd/knn.json
  configs/spmd/linreg.json
  configs/spmd/pca.json
  sklbench/benchmarks/distr_sklearn_estimator.py
  sklbench/datasets/loaders.py
Owners: @Alexsandruss, @samir-nasibli, @napetrov

additional dpt to np conversions
  sklbench/benchmarks/distr_sklearn_estimator.py
Owners: @Alexsandruss, @samir-nasibli

rename n and ppn in configs
  configs/spmd/basicstats.json
  configs/spmd/dbscan.json
  configs/spmd/forest.json
  configs/spmd/kmeans.json
  configs/spmd/knn.json
  configs/spmd/linreg.json
  configs/spmd/pca.json
  sklbench/runner/benchmark_commands.py
Owners: @Alexsandruss, @samir-nasibli, @napetrov

remove clustering predict metrics
  sklbench/benchmarks/distr_sklearn_estimator.py
Owners: @Alexsandruss, @samir-nasibli

adding host addrs to config and n+ppn to report
  docs/BENCH-CONFIG-SPEC.md
  sklbench/benchmarks/distr_sklearn_estimator.py
  sklbench/report/implementation.py
  sklbench/runner/benchmark_commands.py
Owners: @Alexsandruss, @napetrov, @samir-nasibli

synthetic datasets for dbscan and kmeans
  configs/spmd/dbscan.json
  configs/spmd/kmeans.json
Owners: @Alexsandruss, @samir-nasibli, @napetrov

aurora configs
  configs/spmd/aurora/basicstats_strong_64.json
  configs/spmd/aurora/basicstats_weak_256.json
  configs/spmd/aurora/covariance_strong_2.json
  configs/spmd/aurora/covariance_weak_256.json
  configs/spmd/aurora/forest_strong_64.json
  configs/spmd/aurora/kmeans_strong_64.json
  configs/spmd/aurora/linreg_strong_256.json
  configs/spmd/aurora/linreg_weak_256.json
  configs/spmd/aurora/pca_strong_64.json
  configs/spmd/aurora/pca_weak_256.json
Owners: @Alexsandruss, @samir-nasibli, @napetrov

merging sets to consolidate configs
  configs/spmd/basicstats.json
  configs/spmd/dbscan.json
  configs/spmd/forest.json
  configs/spmd/kmeans.json
  configs/spmd/knn.json
  configs/spmd/linreg.json
  configs/spmd/pca.json
Owners: @Alexsandruss, @samir-nasibli, @napetrov

datasetsroot variable
  sklbench/datasets/__init__.py
  sklbench/datasets/loaders.py
Owners: @Alexsandruss, @samir-nasibli

minor
  sklbench/benchmarks/distr_sklearn_estimator.py
Owners: @Alexsandruss, @samir-nasibli

minor logreg config reformat
  configs/spmd/logreg.json
Owners: @Alexsandruss, @samir-nasibli, @napetrov

remove estimator method from logreg config
  configs/spmd/logreg.json
Owners: @Alexsandruss, @samir-nasibli, @napetrov

spmd example config
  configs/spmd_example.json
Owners: @Alexsandruss, @samir-nasibli, @napetrov

minor formatting
  docs/BENCH-CONFIG-SPEC.md
Owners: @Alexsandruss, @napetrov

Fix dev.guide link
  README.md
Owners: @Alexsandruss, @napetrov

updating usage guide with spmd and DATASETSROOT
  configs/spmd/linreg.json
  docs/BENCH-CONFIG-SPEC.md
  sklbench/datasets/README.md
  sklbench/runner/benchmark_commands.py
Owners: @Alexsandruss, @samir-nasibli, @napetrov

minor
  docs/BENCH-CONFIG-SPEC.md
Owners: @Alexsandruss, @napetrov

using sklearnex spmd instead of onedal
  configs/spmd/basicstats.json
  configs/spmd/kmeans.json
  configs/spmd/knn.json
  configs/spmd/linreg.json
  configs/spmd/pca.json
Owners: @Alexsandruss, @samir-nasibli, @napetrov

Add cost metric, change report color rules
  sklbench/report/arguments.py
  sklbench/report/implementation.py
  sklbench/utils/measurement.py
Owners: @Alexsandruss, @samir-nasibli

Report generator fixes
  sklbench/report/compatibility.py
  sklbench/report/implementation.py
  sklbench/runner/implementation.py
Owners: @Alexsandruss, @samir-nasibli

Initial weekly scope
  configs/weekly/dbscan.json
  configs/weekly/ensemble.json
  configs/weekly/kmeans.json
  configs/weekly/knn.json
  configs/weekly/linear_model.json
  configs/weekly/logreg.json
  configs/weekly/pca.json
  configs/weekly/svm.json
  configs/weekly/train_test_split.json
  configs/weekly/tsne.json
Owners: @Alexsandruss, @samir-nasibli, @napetrov

Fixes
  configs/common/lightgbm.json
  configs/common/xgboost.json
  configs/regular/lightgbm.json
  configs/regular/xgboost_binary.json
  configs/regular/xgboost_multi.json
  configs/regular/xgboost_regression.json
  sklbench/benchmarks/common.py
  sklbench/benchmarks/sklearn_estimator.py
  sklbench/datasets/downloaders.py
  sklbench/datasets/loaders.py
  sklbench/emulators/svs/neighbors.py
  sklbench/report/compatibility.py
  sklbench/report/implementation.py
  sklbench/utils/config.py
  sklbench/utils/logger.py
  sklbench/utils/measurement.py
  sklbench/utils/special_params.py
Owners: @Alexsandruss, @samir-nasibli, @napetrov

Configs adjustment
  configs/common/dbscan.json
  configs/common/kmeans.json
  configs/regular/kmeans.json
  configs/regular/logreg.json
  configs/regular/train_test_split.json
  configs/weekly/ensemble.json
  configs/weekly/kmeans.json
  configs/weekly/logreg.json
  configs/weekly/pca.json
  configs/weekly/svm.json
  configs/weekly/train_test_split.json
  sklbench/datasets/README.md
  sklbench/datasets/transformer.py
Owners: @Alexsandruss, @samir-nasibli, @napetrov

Fixes
  configs/README.md
  configs/common/svm.json
  configs/weekly/svm.json
  sklbench/utils/measurement.py
Owners: @Alexsandruss, @napetrov, @samir-nasibli
